@media print {
  .printbutton {
  visibility: hidden;
  display: none;
    }
}
table {
    width: 70%;
}
th {
    height: 50px;
}
tr { line-height: 30px; }
input {
    width:18%;
}
button {
    width:18%;
}
select{
    width:18%;
    height: 28px;
}